/* CSS w3schools */

html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
}

.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

/* CSS STEVEN */

table, tr{
  border-style: solid;
  text-align: center;
}

td{
  text-align: center;
  color: blanchedalmond;
  padding: 10px;
}

#myFooter{
    position: fixed;
    bottom: 1px;
}
